*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    height: max-content;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 1px 0px 5px 2px #DDD;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
}
.navbar .image {
    margin-right: 25%;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar .items {
    position: absolute;
    /* margin-right: 8%; */
    width: 800px;
    min-height: 40px;
    top: 12px;
    margin-left: 25% ;
}
.navbar .items > li {
    float: left;
}
.navbar .items .menu {
    position: relative;
}
.navbar .items .menu .submenu {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 40px;
    left: -80px;
    width: 600px;
    height: 60px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px gray;
}
.navbar .items .menu .submenu a{
    font-size: 22px;
    color:rgb(134, 133, 133);
}
.navbar .items .menu .submenu .aa{
    color: #FF8500;
}
.navbar .items .menu .submenu a:hover{
    color:#FF8500;
}
.navbar .items .menu .submenu:before{
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    height: 0;
    width: 0;
    position: absolute;
    left: 110px;
    top: -15px;
}
.navbar .items .menu:hover .submenu{
    display: flex;
}

.navbar .items a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
    color: rgb(90, 90, 90);
    
}
.navbar .items .black {
    color: black;
}
.navbar .loar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .login {
    margin-right: 10px;
}
.navbar .login p{
    font-size: 25px;

}
.navbar .login strong{
    margin-right: 25px;
}
.navbar .ar span {
    color: orange;
    margin-left: 5px;
}
.hero {
    width: 100%;
    display: flex;
    /* position: relative; */
    height: 1200px;
    background-image: url(../img/PNG/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.find-jop{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 150px;
}
.find-jop .title{
    width: 200px;
    font-size: 40px;
    margin: 0 auto;
    font-family: monospace;
}
.find-jop .text {
    font-size: 20px;
    font-family: sans-serif;
    margin: 30px auto;
}
.find-jop button{
    width: 220px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #282828;
    color: white;
    margin: 0px auto;
    margin-left:90px;
}
.seartch{
    position: absolute;
    width: 700px;
    top: 400px;
    border-bottom: 1px solid black;
}
.seartch input {
    width: 90%;
    border: none;
    font-size: 20px;
    height: 35px;
    background-color: transparent;
}
.seartch img{
    width: 24px;
    height: 24px;
}
.seartch .imged {
    margin-left: 10px;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    width: 575px;
    height: 24px;
    top: 500px;
}
.posts a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}
.posts .black {
    color: black;
    border-bottom: 2px solid orange;
}
.continer {
    top: 550px;
    width: 100%;
    height: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    padding: 10px 100px;
}
.continer .card {
    padding: 20px 0px 20px 35px ;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px 2px #DDD ;
    border-radius: 10px;
    font-family: sans-serif;
}
.continer .card .haed {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.haed p{
    margin: 0 20px 0 10px;
    font-size: 13px;
}
.haed .hhh6 {
margin-left: 8%;
}
.haed h6 {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #938C8C;
}
.haed .hh6 {
    margin-left: 32%;
}
.body h1{
    margin-bottom:40px ;
}
.body p{
    margin: 25px 0;
}
.body span {
    color: #938C8C;
}
.end {
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-between;
}
.end li {
    font-size: 12px;
    color: green;
}
.end p {
    font-size: 11px;
    margin-right: 10%;
    color: #938C8C;
}
.end span {
    margin-left: 10px
}
.card .btn {
    width: 90%;
    height: 40px;
    background-color: #282828;
    color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 8px;
}
footer {
    background-color: #282828;
    width: 100%;
    height: 250px;
    bottom: 0;
    padding: 0 40px;
    color: #fff;
    font-family: monospace;
}
.half1{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.half1 .info {
    width: 13%;
    height: 60%;
    margin-top: 20px;
}
.half1 .info p {
    margin: 10px 0;
    font-size: 17px;

}
.half2 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 38%;
    align-items: center;
    margin-left: 60px;
}
.half2 p {
    margin-right: 1%;
}
.half2 hr {
    width: 72%;
}